# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Tauri
src-tauri/target
src-tauri/target/*
src-tauri/gen/schemas
src-tauri/bin/
src-tauri/dump.rdb
/updater
src-tauri/updater
src-tauri/signing-key.key
src-tauri/signing-key.key.pub

# Testing
coverage
.vitest-result.json

# Production
dist
build
out
.vercel

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
